.info-icon {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.category {
    color: #4BB5FF;
}

.explanationList {
    list-style-type: none;
    font-size: medium;
    font-weight: 200;
    margin-top: 10px;
}

.explanationListItem:before {
    content: '\2744';
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 100px;
    font-size: 18px;
    color: #4BB5FF;
}

.main-header-div {
    margin-top: -4vw;
}

.main-header-text {
    font-size: 10vw;
}

@media (max-width: 500px) {
    .main-header-text {
        font-size: 14vw;
    }
}

.info-card-nav {
    background-color: red;
    color: red;
}
    