@font-face {
    font-family: 'Circular';
    src: url("../fonts/Circular-Book.eot");
    src: url("../fonts/Circular-Book.eot") format("embedded-opentype"), url("../fonts/Circular-Book.woff2") format("woff2"), url("../fonts/Circular-Book.woff") format("woff"), url("../fonts/Circular-Book.ttf") format("truetype");
}
@font-face {
    font-family: 'Jaapoki';
    src: url("../fonts/jaapokki-regular-webfont.eot");
    src: url("../fonts/jaapokki-regular-webfont.eot") format("embedded-opentype"), url("../fonts/jaapokki-regular-webfont.woff2") format("woff2"), url("../fonts/jaapokki-regular-webfont.woff") format("woff"), url("../fonts/jaapokki-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Circular';
}

.login-title {
    font-family: 'Jaapoki';
}

.svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    pointer-events: none;
}
.svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 100%;
}
.svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.svgContainer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: solid 2.5px #217093;
    border-radius: 50%;
}

select option {
    font-size: 1.3em;
}

.form-control:focus {
    border-color: #4BB5FF;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(75, 181, 255, 0.6);
}

.btn-primary {
    background-color: #4BB5FF;
    font-size: large;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.details {
    font-size: 12px;
    color: red;
    margin-top: 1%;
}

.collapsed {
    display: none;
}
.radio-ynSki {
    margin-top: -1%;
    margin-left: -4%;
}

.check-separator {
    margin-right: 2%;
}

.rental-checkbox {
    margin-left: 5px;
    transform: scale(1.3);
}

input:invalid {
    border-color: red;
}

/* @media (max-width: 500px) {
    label {
        font-size: 9px;
    }
} */